Repository githru/githru-vscode-ext, pull requests merged in 2022-08, with the labels that each got.

#7 feat: analysis-engine base codes
  .github/workflows/analysis-engine.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/analysis-engine/.eslintignore
  packages/analysis-engine/.eslintrc.json
  packages/analysis-engine/.gitignore
  packages/analysis-engine/index.ts
  packages/analysis-engine/lib/index.d.ts
  packages/analysis-engine/lib/index.js
  packages/analysis-engine/package-lock.json
  packages/analysis-engine/package.json
  packages/analysis-engine/rollup.config.js
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/tsconfig.json
  packages/view/src/App.test.js
  packages/vscode/.gitignore
  packages/vscode/src/test/runTest.ts
Labels: 🔍 analysis engine

#15 React 18 version setup
  packages/view/public/favicon.ico
  packages/view/public/index.html
  packages/view/public/logo192.png
  packages/view/public/logo512.png
  packages/view/public/manifest.json
  packages/view/public/robots.txt
  packages/view/src/App.css
  packages/view/src/App.tsx
  packages/view/src/index.tsx
Labels: ✨ view

#17 feat: add `TemporalFilter` component
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/TemporalFilter/index.ts
  packages/view/src/types/global.d.ts
Labels: ✨ view

#19 feat: view base codes and add `Statistics` component
  package-lock.json
  packages/view/.eslintignore
  packages/view/.eslintrc.json
  packages/view/README.md
  packages/view/package.json
  packages/view/src/App.test.js
  packages/view/src/App.test.tsx
  packages/view/src/App.tsx
  packages/view/src/NodeTypes.temp.ts
  packages/view/src/ViewNodeTypes.temp.ts
  packages/view/src/assets/styles/reset.scss
  packages/view/src/components/Statistics/Statistics.scss
  packages/view/src/components/Statistics/Statistics.tsx
  packages/view/src/components/Statistics/index.ts
  packages/view/src/components/index.ts
  packages/view/src/index.css
  packages/view/src/index.tsx
  packages/view/src/setupTest.ts
  packages/view/tsconfig.json
  packages/view/webpack.config.js
Labels: ✨ view

#20 feat: add style pallete
  packages/view/.prettierrc.yaml
  packages/view/src/assets/styles/_colors.scss
  packages/view/src/assets/styles/_font.scss
  packages/view/src/assets/styles/_pallete.scss
  packages/view/src/assets/styles/_theme.scss
  packages/view/src/assets/styles/_utils.scss
  packages/view/src/assets/styles/app.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/index.tsx
Labels: ✨ view

#30 build: apply absolute path in tsconfig
  packages/view/package.json
  packages/view/src/App.tsx
  packages/view/src/NodeTypes.temp.ts
  packages/view/src/components/TemporalFilter/index.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/components/VerticalClusterList/index.ts
  packages/view/src/components/index.ts
  packages/view/tsconfig.json
  packages/view/webpack.config.js
Labels: question, ✨ view

#33 chore: commitList interface
  packages/analysis-engine/src/types/CommitRaw.ts
Labels: help wanted, 🔍 analysis engine

#41 chore: fix lint rule and folder structure
  package-lock.json
  packages/view/.eslintrc.json
  packages/view/package.json
  packages/view/src/NodeTypes.temp.ts
  packages/view/src/components/index.ts
  packages/view/src/index.tsx
  packages/view/src/styles/_colors.scss
  packages/view/src/styles/_font.scss
  packages/view/src/styles/_pallete.scss
  packages/view/src/styles/_reset.scss
  packages/view/src/styles/_theme.scss
  packages/view/src/styles/_utils.scss
  packages/view/src/styles/app.scss
  packages/view/webpack.config.js
Labels: ✨ view

#39 feat: implement DAG (simple ver.)
  packages/analysis-engine/src/dag.ts
Labels: 🔍 analysis engine
