Repository githru/githru-vscode-ext, pull requests merged in 2022-11, with the labels that each got.

#266 feat(engine): get branch names and base branch name
  packages/analysis-engine/src/index.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/utils/git.util.ts
Labels: 🔍 analysis engine

#268 fix(view): Author Image
  packages/view/src/components/VerticalClusterList/Summary/Author/Author.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.hook.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.type.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
Labels: ✨ view

#267 feat(view): add clusterNode Tooltip closed #227
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.hook.tsx
Labels: ✨ view

#270 refactor(view): remove unused lines
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.util.ts
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.type.ts
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.util.ts
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.Type.ts
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.util.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.type.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
  packages/view/src/components/TemporalFilter/Type/TemporalFilter.type.ts
  packages/view/src/components/TemporalFilter/Type/TemporalFilter.util.ts
  packages/view/src/components/TemporalFilter/Type/sampleClusterNodeList.json
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.type.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.type.ts
  packages/view/src/types/NodeTypes.temp.ts
Labels: ✨ view

#269 Feat/copy hash
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
Labels: ✨ view, new feature
