Repository githru/githru-vscode-ext, pull requests merged in 2022-10, with the labels that each got.

#236 feat(view): add avatar image to background image
  packages/view/src/components/VerticalClusterList/Summary/Author/Author.tsx
  packages/view/src/components/VerticalClusterList/Summary/Author/index.ts
  packages/view/src/components/VerticalClusterList/Summary/AuthorName/AuthorName.tsx
  packages/view/src/components/VerticalClusterList/Summary/AuthorName/index.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.const.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.type.ts
Labels: ✨ view, new feature

#224 feat(engine): collect data related to pull request
  package-lock.json
  packages/analysis-engine/.eslintrc.json
  packages/analysis-engine/package.json
  packages/analysis-engine/rollup.config.js
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/pluginOctokit.ts
  packages/analysis-engine/tsconfig.json
Labels: 🔍 analysis engine

#240 feat(vscode): dynamic initialization with token, owner, and repo
  package-lock.json
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/pluginOctokit.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/utils/git.util.ts
Labels: 🔍 analysis engine, 💻 vscode

#243 feat(view): global state management using context API used by taejs
  packages/view/src/App.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/Statistics/Statistics.hook.tsx
  packages/view/src/components/Statistics/Statistics.tsx
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.type.ts
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.hook.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/hooks/useGlobalData.tsx
  packages/view/src/index.tsx
Labels: ✨ view, fix

#249 fix(view): fix rendering problem and date filter logic
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Statistics/Statistics.hook.tsx
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.tsx
  packages/view/src/components/TemporalFilter/Filter/Filter.scss
  packages/view/src/components/TemporalFilter/Filter/Filter.tsx
  packages/view/src/components/TemporalFilter/Filter/index.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/hooks/useGlobalData.tsx
  packages/view/src/index.tsx
  packages/view/src/utils/time.ts
  packages/view/webpack.config.js
Labels: fix

#244 feat(view): show background color if no image
  packages/view/src/components/VerticalClusterList/Summary/Author/Author.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
Labels: ✨ view, new feature

#251 feat(view): add feature shows cluster by author in author bar chart
  packages/view/src/App.tsx
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.util.ts
  packages/view/src/components/Statistics/Statistics.hook.tsx
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.scss
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.scss
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/TemporalFilter/ThemeSelector/ThemeSelector.tsx
  packages/view/src/components/TemporalFilter/ThemeSelector/index.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/hooks/index.ts
  packages/view/src/hooks/useGetTotalData.tsx
  packages/view/src/hooks/useGlobalData.tsx
  packages/view/src/index.tsx
Labels: ✨ view, new feature

#252 feat(engine): add pr based csm
  packages/analysis-engine/src/csm.ts
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/types/Github.ts
Labels: 🔍 analysis engine

#253 fix(engine): enhance git remote url parsing regex
  packages/vscode/src/utils/git.util.ts
Labels: 🔍 analysis engine, 💻 vscode

#237 feat(engine): set commit message type to CommitRaw
  .gitignore
  packages/analysis-engine/src/commit.util.ts
  packages/analysis-engine/src/parser.spec.ts
  packages/analysis-engine/src/parser.ts
  packages/analysis-engine/src/stem.spec.ts
  packages/analysis-engine/src/types/CommitMessageType.ts
  packages/analysis-engine/src/types/CommitRaw.ts
  packages/analysis-engine/src/types/index.ts
Labels: 🔍 analysis engine

#255 chore(view): install dayjs library
  package-lock.json
  packages/view/package.json
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
  packages/view/src/utils/index.ts
  packages/view/src/utils/time.ts
Labels: ✨ view

#256 feat(view): add default author profile image
  package-lock.json
  packages/analysis-engine/src/csm.ts
  packages/view/package.json
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.scss
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/Summary/Author/Author.tsx
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.const.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
  packages/view/src/components/VerticalClusterList/Summary/index.ts
  packages/view/src/types/NodeTypes.temp.ts
Labels: question, ✨ view

#260 enhance(view): improve TemporalFilter Component
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.scss
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.const.ts
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.scss
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.hook.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
Labels: ✨ view

#265 feat(view): add the feature of selecting multiple clusters
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.type.ts
  packages/view/src/components/Statistics/Statistics.hook.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.hook.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.type.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.type.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.util.ts
  packages/view/src/hooks/useGlobalData.tsx
  packages/view/src/types/global.ts
Labels: ✨ view

#261 fix(view): cluster 제목 수정
  packages/view/src/components/Detail/Detail.hook.tsx
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
Labels: ✨ view
