Repository githru/githru-vscode-ext, pull requests merged in 2022-09, with the labels that each got.

#62 feat(view): add ClusterGraph in VerticalClusterList Component
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.const.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/index.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/types/global.d.ts
Labels: ✨ view

#72 feat(view): Detail Component
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/types/NodeTypes.temp.ts
Labels: ✨ view

#63 feat(view) add Summary in VerticalClusterList Component
  package-lock.json
  packages/view/package.json
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.type.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
  packages/view/src/components/VerticalClusterList/Summary/index.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
Labels: ✨ view

#74 feat(view): add AuthorBarChart in Statistics Component
  .all-contributorsrc
  packages/view/jest.config.js
  packages/view/package.json
  packages/view/src/App.hook.tsx
  packages/view/src/App.scss
  packages/view/src/App.test.tsx
  packages/view/src/App.tsx
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.const.ts
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.type.ts
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.util.ts
  packages/view/src/components/Statistics/AuthorBarChart/index.ts
  packages/view/src/components/Statistics/Statistics.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
  packages/view/src/components/VerticalClusterList/Summary/index.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/components/index.ts
  packages/view/src/types/global.d.ts
  packages/view/src/types/global.ts
  packages/view/src/types/index.ts
Labels: ✨ view

#80 feat(vscode): fetch data from analysis-engine and render with webview
  package-lock.json
  packages/analysis-engine/package.json
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/types/index.ts
  packages/view/package.json
  packages/vscode/.prettierrc.json
  packages/vscode/package.json
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: 🛠 code

#89 feat(vscode): add status bar button, chore(vscode): prettify
  packages/vscode/.eslintrc.json
  packages/vscode/.prettierrc.json
  packages/vscode/.vscode/extensions.json
  packages/vscode/.vscode/settings.json
  packages/vscode/package.json
  packages/vscode/src/commands.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
  packages/vscode/tsconfig.json
  packages/vscode/webpack.config.js
Labels: 💻 vscode

#92 feat: temporalfilter util 함수 추가
  package-lock.json
  packages/view/package.json
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
Labels: ✨ view

#95 feat(view): add sortBasedOnCommitNode util function in TemporalFilter Component
  package-lock.json
  packages/view/package.json
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.type.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
Labels: ✨ view

#88 enhance(view): Detail Component Contents
  packages/view/public/fake-assets/sampleClusterNodeList.json
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/types/NodeTypes.temp.ts
Labels: ✨ view

#103 enhance(view): add FilteredData & SelectedData
  packages/view/src/App.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.util.ts
  packages/view/src/components/Statistics/Statistics.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/types/global.ts
Labels: ✨ view

#105 feat(view): add cloc linechart
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
Labels: ✨ view

#98 feat(view): add ClusterGraph Component v2 in VerticalClusterGraph
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.const.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.type.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
Labels: ✨ view

#91 feat(engine): Implement STEM
  packages/analysis-engine/.eslintrc.json
  packages/analysis-engine/src/commit.util.ts
  packages/analysis-engine/src/dag.ts
  packages/analysis-engine/src/queue.ts
  packages/analysis-engine/src/stem.spec.ts
  packages/analysis-engine/src/stem.ts
  packages/analysis-engine/src/types/CommitNode.ts
  packages/analysis-engine/src/types/Stem.ts
Labels: 🔍 analysis engine

#109 feat(view): commit chart 추가
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
Labels: ✨ view

#82 feat(engine): implement PARSE
  packages/analysis-engine/src/parseLog.ts
  packages/analysis-engine/src/parseSpawn.ts
  packages/analysis-engine/src/stem.spec.ts
  packages/analysis-engine/src/types/CommitRaw.ts
Labels: 🔍 analysis engine

#112 feat(view): add opening Detail Component action of selected cluster event
  packages/view/src/App.tsx
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.util.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.const.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.type.ts
  packages/view/src/components/VerticalClusterList/Summary/AuthorName/AuthorName.tsx
  packages/view/src/components/VerticalClusterList/Summary/AuthorName/index.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.util.ts
  packages/view/src/types/global.ts
Labels: ✨ view

#115 feat(view): add Filter in TemporalFilter Component
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.tsx
  packages/view/src/components/TemporalFilter/Filter/Filter.scss
  packages/view/src/components/TemporalFilter/Filter/Filter.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.type.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
  packages/view/src/components/TemporalFilter/ThemeSelector/ThemeSelector.tsx
  packages/view/src/components/TemporalFilter/ThemeSelector/index.ts
  packages/view/src/components/TemporalFilter/sampleClusterNodeList.json
  packages/view/src/types/NodeTypes.temp.ts
Labels: ✨ view

#118 feat(vscode): integrate vscode + engine + view
  packages/view/src/App.hook.tsx
  packages/view/src/fake-assets/sampleClusterNodeList.json
  packages/view/src/index.tsx
  packages/vscode/package.json
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode

#101 chore(vscode): add README, add disposable
  packages/vscode/README.md
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode

#114 feat(view): add tooltip and transition to AuthorBarChart
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.util.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/VerticalClusterList/Summary/AuthorName/AuthorName.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
Labels: ✨ view

#107 feat(view): apply styles to Temporal filter
  packages/view/src/App.scss
  packages/view/src/App.tsx
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.const.ts
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.scss
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.type.ts
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.util.ts
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.Type.ts
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.const.ts
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.scss
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.tsx
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.util.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
  packages/view/src/components/TemporalFilter/Type/TemporalFilter.type.ts
  packages/view/src/components/TemporalFilter/Type/TemporalFilter.util.ts
  packages/view/src/components/TemporalFilter/Type/sampleClusterNodeList.json
Labels: ✨ view

#111 feat(engine): implement csm
  packages/analysis-engine/src/csm.spec.ts
  packages/analysis-engine/src/csm.ts
  packages/analysis-engine/src/types/CSM.ts
Labels: 🔍 analysis engine

#120 feat(vscode) integrate analysis-engine with vscode
  packages/analysis-engine/src/commit.util.ts
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/parseSpawn.ts
  packages/analysis-engine/src/parser.ts
  packages/analysis-engine/src/stem.spec.ts
  packages/view/src/App.hook.tsx
  packages/view/src/index.tsx
  packages/view/src/react-app-env.d.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/utils/git.util.ts
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode

#127 chore(engine): re-export types via index.ts
  packages/analysis-engine/src/types/index.ts
Labels: 🔍 analysis engine

#131 feat(vscode): add cluster-nodes mapper
  packages/analysis-engine/src/NodeTypes.temp.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.type.ts
  packages/view/src/types/NodeTypes.temp.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/utils/csm.mapper.ts
Labels: 💻 vscode

#130 fix(engine): Date type 적용
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/parser.ts
  packages/analysis-engine/src/stem.spec.ts
  packages/analysis-engine/src/types/CommitRaw.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/utils/csm.mapper.ts
Labels: 🔍 analysis engine

#133 fix(vscode): fix wrong command
  packages/vscode/package.json
Labels: 💻 vscode

#129 fix(view):Temporal filter 차트 css수정
  packages/view/src/App.scss
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.const.ts
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.scss
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
Labels: ✨ view

#132 docs: contributing.md 수정
  CONTRIBUTING.md
Labels: documentation

#136 test(engine): add sequence to fake commits
  packages/analysis-engine/src/stem.spec.ts
Labels: 🔍 analysis engine

#137 fix(vscode): activate production mode
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode

#94 feat(view): add FileIcicleSummary
  packages/view/public/fileChanges.json
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/index.ts
  packages/view/src/components/Statistics/Statistics.tsx
Labels: ✨ view

#134 style(view): add Detail Component css
  packages/view/src/components/Detail/Detail.const.ts
  packages/view/src/components/Detail/Detail.hook.tsx
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
Labels: ✨ view

#135 fix(engine): bugfix idendtifing nested-merge from squash-commits (#126)
  packages/analysis-engine/src/csm.ts
Labels: bug, 🔍 analysis engine

#139 fix(view): improve CLS performance
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.scss
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.scss
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
  packages/view/src/styles/_reset.scss
Labels: ✨ view

#141 style(view): fix authorBarChart layout sizes
  packages/view/src/App.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.const.ts
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/Statistics/Statistics.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
  packages/view/src/styles/_reset.scss
Labels: ✨ view

#140 fix(engine): main/master/HEAD 브랜치를 가질 경우 stemId를 main/master/HEAD로 설정
  packages/analysis-engine/src/stem.spec.ts
  packages/analysis-engine/src/stem.ts
Labels: 🔍 analysis engine

#143 fix(view): fix tempral filter overlap scroll bar
  packages/vscode/src/webview-loader.ts
Labels: ✨ view, 💻 vscode

#142 feat(view): add transition in ClusterGraph
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.const.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.type.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
Labels: ✨ view

#150 fix(view): update cluster graph size (width, height, gap)
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.const.ts
Labels: ✨ view

#151 fix(view): fix summary issue #146
  packages/view/src/components/VerticalClusterList/Summary/Summary.const.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.type.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
Labels: ✨ view, fix

#152 feat(view): add cluster link line in ClusterGraph (fix issue #146)
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.type.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
Labels: ✨ view, fix

#153 fix(view): fix some issues of temporal filter #145
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.scss
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.tsx
  packages/view/src/components/TemporalFilter/CommitLineChart/CommitLineChart.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
Labels: ✨ view, fix

#156 feat(view): manipulate data from props, remove fake assets in <FileIcicleSummary/>
  packages/view/public/fileChanges.json
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.const.ts
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.type.ts
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.util.ts
  packages/view/src/components/Statistics/Statistics.tsx
Labels: ✨ view

#154 feat(view): fix verticalClusterList issues and refactor detail component
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.const.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.hook.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/utils/time.ts
  packages/view/webpack.config.js
Labels: ✨ view

#155 style(view): fix style issues in authorBarChart
  packages/view/src/App.scss
  packages/view/src/App.tsx
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/Statistics.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.hook.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
  packages/view/src/styles/_reset.scss
  packages/view/src/utils/time.ts
Labels: ✨ view

#157 style(view): fix style issues in detail component
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.util.ts
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/styles/_reset.scss
  packages/view/src/utils/index.ts
Labels: ✨ view

#158 add View CONTRIBUTING.md Template
  packages/view/CONTRIBUTING.md
Labels: ✨ view

#160 feat(engine): add contributing and readme files
  packages/analysis-engine/CONTRIBUTING.md
  packages/analysis-engine/README.md
Labels: 🔍 analysis engine

#159 fix(view): modify variable height ClusterGraph transition & update scroll
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
Labels: ✨ view

#161 feat(engine): add contributing.md
  packages/analysis-engine/CONTRIBUTING.md
  packages/analysis-engine/README.md
Labels: 🔍 analysis engine

#162 style(view): fix option background color
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
Labels: ✨ view

#163 feat(view): fixed summary height and delete animation
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
Labels: ✨ view

#171 docs(view): change content CONTRIBUTING.md
  packages/view/CONTRIBUTING.md
  packages/view/src/components/TemporalFilter/ClocLineChart/ClocLineChart.scss
Labels: ✨ view

#180 chore(view): fix fake-assets
  packages/view/src/App.hook.tsx
  packages/view/src/fake-assets/cluster-nodes.json
  packages/view/src/fake-assets/sampleClusterNodeList.json
Labels: 🔍 analysis engine, ✨ view

#173 docs(view): add README.md in view
  package-lock.json
  packages/view/README.md
Labels: ✨ view

#182 fix(view): fix clusternode list ordering
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
Labels: ✨ view

#183 fix(view): fix initial datepicker value
  packages/view/src/components/TemporalFilter/Filter/Filter.tsx
Labels: ✨ view

#193 fix(engine): include HEAD info from the parser
  packages/analysis-engine/src/parser.ts
Labels: 🔍 analysis engine

#204 chore(engine): update contributing.md
  packages/analysis-engine/CONTRIBUTING.md
Labels: 🔍 analysis engine

#202 feat(view): apply react-icons library and fix error about nested element
  package-lock.json
  packages/view/package.json
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
Labels: ✨ view, fix, new feature

#216 fix(engine): fix typo in newline escape seq
  packages/analysis-engine/src/parser.ts
Labels: 🔍 analysis engine, fix

#209 style(view): Cluster Graph , Line Chart 반응형 개선 작업
  packages/view/src/App.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
Labels: ✨ view, fix

#198 feat(engine): build stem & CSM based on passed branch name
  packages/analysis-engine/src/csm.spec.ts
  packages/analysis-engine/src/csm.ts
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/stem.spec.ts
  packages/analysis-engine/src/stem.ts
Labels: 🔍 analysis engine

#217 fix(view): fix typo in newline escape seq in view
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
Labels: ✨ view, fix

#223 feat(view): change author bar chart x axis scale and apply responsive layout to `summary` component
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.util.ts
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.const.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
Labels: ✨ view

#229 feat(vscode): add github token from settings (#228)
  packages/vscode/package.json
  packages/vscode/src/extension.ts
  packages/vscode/src/setting-repository.ts
Labels: 💻 vscode

#230 refactor(view): modify and add components props
  packages/view/CONTRIBUTING.md
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.type.ts
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/Statistics.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.type.ts
  packages/view/src/components/VerticalClusterList/Summary/AuthorName/AuthorName.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.type.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.type.ts
  packages/view/src/types/global.ts
Labels: ✨ view, rule/convention

#231 fix(view): modify logic of chart transition in VerticalClusterList
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.const.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.type.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
Labels: ✨ view
