Repository githru/githru-vscode-ext, pull requests merged in 2023-08, with the labels that each got.

#367 feat(view): 선택된 사용자에 대한 클러스터만 보이도록 필터링
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/VerticalClusterList/Summary/Author/Author.scss
  packages/view/src/components/VerticalClusterList/Summary/Author/Author.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
Labels: ✨ view

#371 feat(view): commit-item 요소를 한줄로 출력
  packages/view/src/components/Detail/Detail.scss
Labels: ✨ view

#387 feat(view): Setting playwright(e2e test)
  package-lock.json
  packages/view/.gitignore
  packages/view/package.json
  packages/view/playwright.config.ts
  packages/view/tests/home.spec.ts
Labels: new feature, test

#388 feat(view) d3 그래프 duration 제거
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/TemporalFilter/LineChart.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.hook.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
Labels: ✨ view

#428 fix(view): 새로고침 버튼 overlap시 hover 상실
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
Labels: ✨ view, fix

#416 refactor(engine): commit classify based type inclueded
  packages/analysis-engine/src/commit.util.ts
  packages/analysis-engine/src/parser.spec.ts
  packages/analysis-engine/src/types/CommitMessageType.ts
Labels: 🔍 analysis engine

#430 refactor(view): App.tsx 리펙토링
  packages/view/src/App.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
Labels: ✨ view, new feature

#441 refactor(view): NodeTypes.temp.ts 코드 refactoring
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
  packages/view/src/constants/constants.tsx
  packages/view/src/types/CommitTypes.temp.ts
  packages/view/src/types/Nodes.ts
  packages/view/src/types/global.ts
  packages/view/src/types/index.ts
Labels: ✨ view, discussion

#437 test(view): VerticalClusterList.util.test 작성
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.hook.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.test.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.util.test.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.util.ts
  packages/view/src/components/VerticalClusterList/fakeTask.ts
Labels: test

#433 feat(view): commit message 정렬 순서 변경
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.type.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.ts
Labels: ✨ view

#449 test(engine): git log를 commitRaw로 바꾸기(parer), code refactoring
  packages/analysis-engine/src/parser.spec.ts
Labels: 🔍 analysis engine, test

#450 test(view): Summary.util.ts unit tc 작성
  packages/view/jest.config.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.test.ts
Labels: test

#429 feat(vscode): fetchAnalyzedData 명령어 실행시 매번 fetchClusterNodes 함수를 실행하지 않도록 개선
  packages/view/src/ide/FakeIDEAdapter.ts
  packages/view/src/ide/IDEPort.ts
  packages/view/src/ide/VSCodeIDEAdapter.ts
  packages/view/src/services/index.ts
  packages/view/src/types/IDEMessage.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode
