Repository githru/githru-vscode-ext, pull requests merged in 2023-09, with the labels that each got.

#446 feat(view): 높이가 작아지는 경우 커밋 내역 하단 빈공간 생기는 현상 수정, 새로고침 버튼 위치 이동
  package-lock.json
  packages/view/.eslintrc.json
  packages/view/package.json
  packages/view/src/App.scss
  packages/view/src/App.tsx
  packages/view/src/components/RefreshButton/RefreshButton.scss
  packages/view/src/components/RefreshButton/RefreshButton.tsx
  packages/view/src/components/RefreshButton/index.ts
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/Statistics/Statistics.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/ThemeSelector/ThemeSelector.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
Labels: bug, ✨ view

#454 refactor(view): VerticalClusterList.util.test.ts 수정
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.test.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.util.test.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.util.ts
  packages/view/tests/fakeAsset.ts
Labels: ✨ view

#467 feat(view): ClusterGraph.utill test코드 작성 및 VerticalClusterList test 오류 수정
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.util.test.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.util.test.ts
  packages/view/tests/fakeAsset.ts
Labels: ✨ view, test

#468 feat: github auth login 후에 githru 자동으로 띄워주기
  packages/vscode/src/extension.ts
Labels: 💻 vscode

#436 test(view): Detail.util.ts tc 추가
  packages/view/src/components/Detail/Detail.hook.tsx
  packages/view/src/components/Detail/Detail.util.test.ts
  packages/view/src/components/Detail/Detail.util.ts
Labels: test

#471 test(view): TemporalFilter.unit.ts unit test case 작성
  packages/view/jest.config.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.util.test.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.util.test.ts
Labels: test

#473 docs(view): type guide add type,interface & type keyward
  packages/view/CONTRIBUTING.md
Labels: docs

#474 docs(view): unit test guide
  packages/view/CONTRIBUTING.md
Labels: ✨ view, test, docs

#477 feat: implementing fetchBranchList
  packages/view/src/App.tsx
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/context/GlobalDataProvider.tsx
  packages/view/src/fake-assets/branch-list.json
  packages/view/src/hooks/useGlobalData.ts
  packages/view/src/ide/FakeIDEAdapter.ts
  packages/view/src/ide/VSCodeIDEAdapter.ts
  packages/view/src/types/IDESentEvents.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: ✨ view, 💻 vscode, new feature

#472 refactor(view): engine과 공통되는 temp 타입 정리 및 주석
  packages/view/src/types/Commit.ts
  packages/view/src/types/CommitMessageType.ts
  packages/view/src/types/CommitTypes.temp.ts
  packages/view/src/types/DiffStatistics.ts
  packages/view/src/types/GitHubUser.ts
  packages/view/src/types/Nodes.ts
Labels: ✨ view

#486 feat(view, vscode): implement branchSelector onChange handler
  packages/view/src/App.tsx
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/components/RefreshButton/RefreshButton.tsx
  packages/view/src/context/GlobalDataProvider.tsx
  packages/view/src/ide/FakeIDEAdapter.ts
  packages/view/src/ide/IDEPort.ts
  packages/view/src/ide/VSCodeIDEAdapter.ts
  packages/view/src/services/index.ts
  packages/view/src/types/IDEMessage.ts
  packages/view/src/types/IDESentEvents.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/utils/git.util.ts
  packages/vscode/src/webview-loader.ts
Labels: ✨ view, 💻 vscode, new feature

#487 feat: when pr, e2e test github actions ci
  .github/workflows/e2eTests.yml
  packages/view/tests/home.spec.ts
Labels: ✨ view, test

#485 refactor(vscode): temp type 제거 및 engine 에서 가져온 타입 재정의
  package-lock.json
  packages/vscode/src/types/CSMDictionary.ts
  packages/vscode/src/types/Commit.ts
  packages/vscode/src/types/CommitMessageType.ts
  packages/vscode/src/types/DiffStatistics.ts
  packages/vscode/src/types/DifferenceStatistic.ts
  packages/vscode/src/types/GitHubUser.ts
  packages/vscode/src/types/Node.ts
  packages/vscode/src/types/StemCommitNode.ts
  packages/vscode/src/utils/NodeTypes.temps.ts
  packages/vscode/src/utils/csm.mapper.ts
Labels: 💻 vscode

#491 feat(view): scss 모듈화 도입
  packages/view/src/components/@common/Author/Author.module.scss
  packages/view/src/components/@common/Author/Author.tsx
  packages/view/src/components/BranchSelector/BranchSelector.module.scss
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/components/Detail/Detail.module.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/FilteredAuthors/FilteredAuthors.module.scss
  packages/view/src/components/FilteredAuthors/FilteredAuthors.tsx
  packages/view/src/components/RefreshButton/RefreshButton.module.scss
  packages/view/src/components/RefreshButton/RefreshButton.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.module.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.module.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/Statistics/Statistics.module.scss
  packages/view/src/components/Statistics/Statistics.tsx
  packages/view/src/components/TemporalFilter/LineChart.module.scss
  packages/view/src/components/TemporalFilter/LineChart.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.module.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/ThemeSelector/ThemeSelector.module.scss
  packages/view/src/components/ThemeSelector/ThemeSelector.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.hook.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.module.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.module.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.module.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/global.d.ts
Labels: ✨ view
