Repository githru/githru-vscode-ext, pull requests merged in 2023-05, with the labels that each got.

#336 fix(vscode, view): fix fetchAnalyzedData command
  packages/view/src/ide/FakeIDEAdapter.ts
  packages/view/src/ide/VSCodeIDEAdapter.ts
  packages/view/src/types/EngineCommand.ts
  packages/view/src/types/EngineMessage.ts
  packages/vscode/src/webview-loader.ts
Labels: ✨ view, 💻 vscode, fix

#337 fix(vscode): do not send initialData to view
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode

#342 fix(vscode): window 환경에서의 spawn ENOENT 이슈 수정
  packages/vscode/src/extension.ts
Labels: bug, 💻 vscode
