Repository githru/githru-vscode-ext, pull requests merged in 2023-03, with the labels that each got.

#292 feat(vscode): add refresh handler
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode, new feature

#296 [engine] deprecated된 메서드 삭제
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/parser.ts
Labels: 🔍 analysis engine

#304 fix(view): faster tree calculation #290
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.util.ts
Labels: ✨ view, fix

#306 feat(view): add refresh ui
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/hooks/useGetTotalData.tsx
  packages/view/src/types/VSMessageEvent.ts
  packages/view/src/types/index.ts
  packages/view/src/utils/index.ts
  packages/view/src/utils/throttle.ts
Labels: ✨ view, new feature
