Repository githru/githru-vscode-ext, pull requests merged in 2024-08, with the labels that each got.

#575 docs: 문법 및 네이밍 수정(#574)
  CONTRIBUTING.md
Labels: docs

#562 feat(vscode): Add private method 'ensureOctokitInstance' to resolve Octokit's common logic.
  packages/vscode/src/credentials.ts
  packages/vscode/src/extension.ts
Labels: 💻 vscode, new feature, suggestion

#569 fix(view): 커밋 메시지의 PR or Issue number 하이퍼링크 버그
  packages/view/src/App.tsx
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/context/GlobalDataProvider.tsx
  packages/view/src/hooks/useGlobalData.ts
  packages/view/src/types/RemoteGitHubInfo.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/utils/git.util.ts
  packages/vscode/src/webview-loader.ts
Labels: ✨ view, 💻 vscode, fix

#587 fix(view): Vertical Cluster List 에서 중복된 사용자는 추가시키지 않는것으로 수정 (#524)
  packages/view/src/components/FilteredAuthors/FilteredAuthors.scss
  packages/view/src/components/FilteredAuthors/FilteredAuthors.tsx
Labels: ✨ view, fix

#577 Feature/448 refactoring type naming, extension fetcher 함수 dependencies 제거
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode, discussion, question

#576 fix(view): 우측 그래프 표시 레이아웃이 무너짐 수정
  packages/view/src/components/Statistics/Statistics.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
Labels: bug, ✨ view

#604 fix(view): dev 모드 실행 정상화
  packages/view/src/App.tsx
  packages/vscode/src/webview-loader.ts
Labels: fix

#611 Mui/icons로 모든 아이콘 교체
  packages/view/package.json
  packages/view/src/assets/author.svg
  packages/view/src/assets/changed-file.svg
  packages/view/src/assets/commit.svg
  packages/view/src/assets/diff-add.svg
  packages/view/src/assets/diff-delete.svg
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/RefreshButton/RefreshButton.tsx
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
Labels: ✨ view

#616 feat(view): dev 모드 로딩 애니메이션 시간 축소
  packages/view/src/ide/FakeIDEAdapter.ts
Labels: ✨ view

#627 feat(view): #623 클러스터 서브 그래프 툴팁 스타일링
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/Draws/drawSubGraph.ts
Labels: ✨ view

#633 [view] 우측 차트 잘림 현상 해결
  packages/view/src/App.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/Statistics/Statistics.scss
Labels: ✨ view, fix

#595 [all] knowledge 수합 및 마이그레이션
  README.md
Labels: docs

#639 Convert Author to Avator + tooltip of material-ui
  packages/view/src/components/@common/Author/Author.scss
  packages/view/src/components/@common/Author/Author.tsx
Labels: ✨ view

#630 fix(view) : 상단 라인 차트 전체 기간에서 특정 기간으로 Brushing 후 Reset 기능 버튼 추가
  packages/view/src/components/TemporalFilter/LineChartBrush.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
Labels: ✨ view, fix

#648 [view] vertical cluster list 내 cluster graph, cluster summary 단일화
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/Draws/drawTotalLine.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/types/ClusterGraphProps.ts
Labels: ✨ view

#643 Revert(vscode): vscode 모듈 #577 이전으로 롤백
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode

#647 [view] 컬러 차트 구현을 위한 컬러 전역 변수 생성
  packages/view/src/App.scss
  packages/view/src/styles/_custom.scss
  packages/view/src/styles/app.scss
Labels: ✨ view

#650 [view] temporal filter 차트가 잘리는 경우에도 보이도록 수정
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
Labels: ✨ view, fix

#560 [fix] ts파일 첫째줄에서 빨간줄 에러 fix
  .vscode/settings.json
Labels: 🔍 analysis engine, 💻 vscode, fix

#656 폰트 속성 변수로 대체
  packages/view/src/components/BranchSelector/BranchSelector.scss
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/FilteredAuthors/FilteredAuthors.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/TemporalFilter/LineChart.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/styles/_font.scss
  packages/view/src/styles/_reset.scss
Labels: ✨ view

#663 [engine] analysis-engine.yml github action node 버전업 (20.x LTS)
  .github/workflows/analysis-engine.yml
Labels: 🔍 analysis engine

#622 [engine/AI] 노드의 커밋 AI 요약을 위한 기초적인 기능 도입
  package-lock.json
  packages/analysis-engine/.env.sample
  packages/analysis-engine/.gitignore
  packages/analysis-engine/package.json
  packages/analysis-engine/rollup.config.js
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/summary.ts
Labels: 🔍 analysis engine, new feature

#664 [view] 선택된 클러스터의 정보 표시
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/FilteredAuthors/FilteredAuthors.scss
  packages/view/src/components/FilteredAuthors/FilteredAuthors.tsx
  packages/view/src/components/FilteredClusters/FilteredClusters.scss
  packages/view/src/components/FilteredClusters/FilteredClusters.tsx
  packages/view/src/components/FilteredClusters/index.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
Labels: ✨ view, new feature

#671 [view] 렌더링 성능 최적화를 위한 react-virtualized 라이브러리 도입
  package-lock.json
  packages/view/package.json
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
Labels: ✨ view

#668 [view] 커밋 링크 추가
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
Labels: ✨ view

#670 [test] #669 클러스터 클릭 관련 TC 테스트 코드 수정
  packages/view/tests/home.spec.ts
Labels: ✨ view, test

#676 [view] 선택된 클러스터 컴포넌트 수정
  packages/view/src/components/FilteredClusters/index.ts
  packages/view/src/components/SelectedClusterGroup/SelectedClusterGroup.scss
  packages/view/src/components/SelectedClusterGroup/SelectedClusterGroup.tsx
  packages/view/src/components/SelectedClusterGroup/index.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
Labels: ✨ view, fix

#677 [vscode, docs] token 저장 및 전달 방식 변경에 따른 docs/readme.md 업데이트
  doc/getting-started-ko.md
  doc/getting-started-ko/5.png
  doc/getting-started-ko/6.png
  doc/getting-started-ko/login-popup.png
  packages/vscode/package.json
Labels: 💻 vscode, docs

#682 [engine/AI] AI 요약 기능 고도화
  packages/analysis-engine/.gitignore
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/summary.ts
Labels: 🔍 analysis engine, new feature

#678 [view] 상단 line chart reset 버튼 text 색상 수정
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
Labels: ✨ view
