Repository githru/githru-vscode-ext, pull requests merged in 2024-07, with the labels that each got.

#544 feat(vscode): #321 githru 열리기 전까지 progress 표시
  packages/vscode/src/extension.ts
Labels: 💻 vscode

#550 fix(view): #540 Total Commit 그래프에 마우스 over, move 시 깜빡임
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
Labels: ✨ view, fix

#548 fix(view): AuthorBarChart에서 Author 10명 넘어가는 경우 나머지는 others로 처리
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.type.ts
Labels: ✨ view, fix

#558 feat(view): Primary color에 따라 File Summary 글자 색상 동적 변경
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
Labels: ✨ view

#565 docs: 하드코딩 된 contributors 배지 제거 #547
  README.md
Labels: docs

#567 feat(view): 레이아웃 수정
  packages/view/src/App.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/Statistics/Statistics.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
Labels: ✨ view, new feature
