Repository githru/githru-vscode-ext, pull requests merged in 2024-09, with the labels that each got.

#680 [engine] getCommitRaws 함수 개선
  packages/analysis-engine/src/constant.ts
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/parser.spec.ts
  packages/analysis-engine/src/parser.ts
  packages/vscode/src/utils/git.util.ts
Labels: 🔍 analysis engine, 💻 vscode

#685 [view] 사용자 정보 클릭시 해당 계정 페이지로 이동
  packages/view/src/components/@common/Author/Author.tsx
Labels: ✨ view, new feature

#687 [view] Theme Selector 구현 및 테마에 따른 컴포넌트 컬러 변경
  packages/view/src/App.scss
  packages/view/src/App.tsx
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/TemporalFilter/LineChart.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/ThemeSelector/ThemeSelector.scss
  packages/view/src/components/ThemeSelector/ThemeSelector.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/constants/constants.tsx
  packages/view/src/styles/_customTheme.scss
  packages/view/src/styles/app.scss
Labels: ✨ view

#684 Zustand 도입 및 loading 상태 리팩토링
  package-lock.json
  packages/view/package.json
  packages/view/src/App.tsx
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/components/RefreshButton/RefreshButton.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/context/GlobalDataProvider.tsx
  packages/view/src/hooks/useGlobalData.ts
  packages/view/src/store/index.ts
  packages/view/src/store/loading.ts
  packages/view/webpack.prod.config.js
Labels: ✨ view, fix, new feature

#702 [view] 상단 branch select style 수정
  packages/view/src/components/BranchSelector/BranchSelector.scss
  packages/view/src/components/BranchSelector/BranchSelector.tsx
Labels: ✨ view

#704 Theme Picker UI Update
  packages/view/src/components/ThemeSelector/ThemeSelector.scss
  packages/view/src/components/ThemeSelector/ThemeSelector.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/fake-assets/cluster-nodes.json
  packages/view/src/styles/_colors.scss
  packages/view/src/styles/_customTheme.scss
  packages/view/src/styles/_pallette.scss
  packages/view/src/styles/_theme.scss
  packages/view/src/styles/app.scss
Labels: ✨ view

#706 [view] branch fake asset 관련 이슈
  packages/view/src/fake-assets/branch-list.json
Labels: ✨ view, fix

#708 [engine] getCommitRaws 테스트코드 보완
  packages/analysis-engine/src/parser.spec.ts
Labels: 🔍 analysis engine, test

#720 [view] 툴팁 교체 및 폴더 구조 명시성 확보
  package-lock.json
  packages/view/src/App.scss
  packages/view/src/components/@common/Author/Author.tsx
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
Labels: ✨ view

#714 fix(view): 서브그래프 노드 및 SummaryCommitList 정렬 순서 변경
  packages/view/src/components/Detail/Detail.hook.tsx
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.util.test.ts
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/Draws/drawSubGraph.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
Labels: ✨ view, fix

#679 [fix]#520 git 연동이 안된 프로젝트에서 무한로딩 증상 개선
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: 💻 vscode, fix

#715 [view] view 모듈의 클래스명에 BEM 방식 적용
  package-lock.json
  packages/view/src/components/BranchSelector/BranchSelector.scss
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/FilteredAuthors/FilteredAuthors.scss
  packages/view/src/components/FilteredAuthors/FilteredAuthors.tsx
  packages/view/src/components/RefreshButton/RefreshButton.scss
  packages/view/src/components/RefreshButton/RefreshButton.tsx
  packages/view/src/components/SelectedClusterGroup/SelectedClusterGroup.scss
  packages/view/src/components/SelectedClusterGroup/SelectedClusterGroup.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.scss
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/TemporalFilter/LineChart.scss
  packages/view/src/components/TemporalFilter/LineChart.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/ThemeSelector/ThemeSelector.scss
  packages/view/src/components/ThemeSelector/ThemeSelector.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/Draws/drawClusterBox.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/Draws/drawCommitAmountCluster.ts
  packages/view/src/components/VerticalClusterList/ClusterGraph/Draws/drawSubGraph.ts
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/tests/home.spec.ts
Labels: ✨ view

#721 [view] 상단 branch명 길이 관련 suffix 추가
  packages/view/src/components/BranchSelector/BranchSelector.const.ts
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/fake-assets/branch-list.json
Labels: ✨ view

#731 [view] 레이아웃이 잘리는 문제 해결
  packages/view/src/App.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.const.ts
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
Labels: ✨ view

#683 chore/#634 : 디버깅모드에서 analysis-engine의 변경을 감지하도록 변경
  packages/analysis-engine/package.json
Labels: 🔍 analysis engine, 💻 vscode

#730 [vscode] git 연결된 레포지토리가 확장 개발 호스트에서 실행되지 않는 버그 임시 수정
  packages/vscode/src/webview-loader.ts
Labels: bug, 💻 vscode

#740 [view] AuthorBarChart util 함수 테스트 코드 작성
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.util.test.ts
Labels: ✨ view, test
