Repository githru/githru-vscode-ext, pull requests merged in 2024-10, with the labels that each got.

#718 [engine/AI] 현재 author가 작성한 커밋이 있다면 최신 10개 커밋 요약하기
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/summary.ts
Labels: 🔍 analysis engine, new feature

#743 [engine] 로그 개수에 맞는 쓰레드 생성
  packages/vscode/src/extension.ts
  packages/vscode/src/utils/git.util.ts
Labels: 🔍 analysis engine, 💻 vscode

#735 [engine] getCommitRaws 테스트케이스 추가
  packages/analysis-engine/src/parser.spec.ts
  packages/analysis-engine/src/parser.ts
  packages/vscode/src/utils/git.util.ts
Labels: 🔍 analysis engine, test

#745 [view] 유저 정보 매칭 실패시 유저 아이콘 클릭 비활성화
  packages/view/src/components/@common/Author/Author.tsx
Labels: ✨ view

#744 refactor(view): Selected Cluster Group에서 불필요한 mui 제거
  packages/view/src/components/SelectedClusterGroup/SelectedClusterGroup.scss
  packages/view/src/components/SelectedClusterGroup/SelectedClusterGroup.tsx
Labels: ✨ view

#689 [vscode/engine] getGitLog 함수 관련 테스트 코드 구현
  package-lock.json
  packages/vscode/jest.config.mjs
  packages/vscode/package.json
  packages/vscode/src/test/suite/extension.ts
  packages/vscode/src/test/utils/getGitLog.spec.ts
  packages/vscode/tsconfig.json
Labels: 🔍 analysis engine, 💻 vscode

#753 [engine] getCommitRaws 함수 개선
  packages/analysis-engine/src/constant.ts
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/parser.spec.ts
  packages/analysis-engine/src/parser.ts
  packages/vscode/src/utils/git.util.ts
Labels: 🔍 analysis engine, test

#751 [view] px단위 rem으로 수정
  packages/view/src/App.scss
  packages/view/src/components/BranchSelector/BranchSelector.scss
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/FilteredAuthors/FilteredAuthors.scss
  packages/view/src/components/RefreshButton/RefreshButton.scss
  packages/view/src/components/SelectedClusterGroup/SelectedClusterGroup.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.scss
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/Statistics/Statistics.scss
  packages/view/src/components/TemporalFilter/LineChart.scss
  packages/view/src/components/TemporalFilter/TemporalFilter.scss
  packages/view/src/components/ThemeSelector/ThemeSelector.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.scss
  packages/view/src/components/VerticalClusterList/ClusterGraph/Draws/drawSubGraph.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
  packages/view/src/components/VerticalClusterList/VerticalClusterList.scss
  packages/view/src/styles/_reset.scss
  packages/view/src/utils/index.ts
  packages/view/src/utils/pxToRem.ts
Labels: ✨ view, fix

#750 [view] Font, Color 관련 docs 업데이트
  packages/view/CONTRIBUTING.md
Labels: ✨ view

#693 new feature(#598): Git Issue Template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/test.yml
  .github/ISSUE_TEMPLATE/update_docs.yml
Labels: new feature

#758 [engine] 최대 쓰레드 수 3개 제한 및 git 로그 최초 한 번만 불러오기
  packages/vscode/src/extension.ts
  packages/vscode/src/utils/git.util.ts
  packages/vscode/src/webview-loader.ts
Labels: 🔍 analysis engine, 💻 vscode

#746 [view] AuthorBarChart util test 코드 작성
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.util.test.ts
Labels: ✨ view, test

#736 전역상태 zustand store로 리펙토링
  packages/view/src/App.tsx
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/FilteredAuthors/FilteredAuthors.tsx
  packages/view/src/components/RefreshButton/RefreshButton.tsx
  packages/view/src/components/SelectedClusterGroup/SelectedClusterGroup.tsx
  packages/view/src/components/Statistics/AuthorBarChart/AuthorBarChart.tsx
  packages/view/src/components/Statistics/Statistics.hook.tsx
  packages/view/src/components/TemporalFilter/LineChart.ts
  packages/view/src/components/TemporalFilter/TemporalFilter.tsx
  packages/view/src/components/VerticalClusterList/ClusterGraph/ClusterGraph.tsx
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.hook.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
  packages/view/src/components/VerticalClusterList/VerticalClusterList.tsx
  packages/view/src/context/GlobalDataProvider.tsx
  packages/view/src/hooks/index.ts
  packages/view/src/hooks/useAnalayzedData.ts
  packages/view/src/hooks/useGlobalData.ts
  packages/view/src/index.common.tsx
  packages/view/src/store/branch.ts
  packages/view/src/store/data.ts
  packages/view/src/store/filteredRange.ts
  packages/view/src/store/index.ts
  packages/view/src/store/loading.ts
  packages/view/src/store/owner.ts
  packages/view/src/store/repo.ts
  packages/view/src/types/IDESentEvents.ts
Labels: ✨ view, fix

#760 [view] Theme Selector 테마 전역 저장 및 코드 리팩토링
  packages/view/public/index.html
  packages/view/src/components/ThemeSelector/ThemeSelector.tsx
  packages/view/src/ide/FakeIDEAdapter.ts
  packages/view/src/ide/IDEPort.ts
  packages/view/src/ide/VSCodeIDEAdapter.ts
  packages/view/src/services/index.ts
  packages/view/src/types/IDEMessage.ts
  packages/view/src/types/custom.d.ts
  packages/vscode/package.json
  packages/vscode/src/setting-repository.ts
  packages/vscode/src/webview-loader.ts
Labels: ✨ view

#761 [view] debounce, throttle 테스트 코드 작성
  packages/view/src/utils/debounce.test.ts
  packages/view/src/utils/throttle.test.ts
Labels: test

#768 [view] Remote Git config에서 owner, repo 정보를 View에서 받는 방식 수정
  packages/view/src/App.tsx
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/ide/FakeIDEAdapter.ts
  packages/view/src/ide/IDEPort.ts
  packages/view/src/ide/VSCodeIDEAdapter.ts
  packages/view/src/store/githubInfo.ts
  packages/view/src/store/index.ts
  packages/view/src/store/owner.ts
  packages/view/src/store/repo.ts
  packages/view/src/types/IDEMessage.ts
  packages/view/src/types/IDESentEvents.ts
  packages/view/src/types/RemoteGitHubInfo.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: ✨ view, 💻 vscode

#769 test(view): File Icicle Summary의 util 함수 테스트 코드 작성
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.util.test.ts
Labels: ✨ view, test

#767 [view] 브랜치 변경 시 테마 초기화되는 문제 해결 및 코드 리팩토링
  packages/view/src/App.tsx
  packages/view/src/components/ThemeSelector/ThemeSelector.const.ts
  packages/view/src/components/ThemeSelector/ThemeSelector.tsx
  packages/view/src/components/ThemeSelector/ThemeSelector.type.ts
  packages/view/src/ide/FakeIDEAdapter.ts
  packages/view/src/ide/IDEPort.ts
  packages/view/src/ide/VSCodeIDEAdapter.ts
  packages/view/src/services/index.ts
  packages/view/src/styles/_colors.scss
  packages/view/src/types/IDEMessage.ts
  packages/vscode/src/setting-repository.ts
  packages/vscode/src/webview-loader.ts
Labels: ✨ view, fix

#770 [engine] git log 파싱에 사용되는 separator 개선
  packages/analysis-engine/src/constant.ts
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/parser.spec.ts
  packages/analysis-engine/src/parser.ts
  packages/vscode/src/utils/git.util.ts
Labels: 🔍 analysis engine, 💻 vscode
