Repository githru/githru-vscode-ext, pull requests merged in 2025-10, with the labels that each got.

#924 feat(view): mcp tool 연동용 storyline chart
  packages/view/src/App.tsx
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.analyzer.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.const.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.releaseAnalyzer.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.subfolder.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.test.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.tsx
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.type.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.util.ts
Labels: newviz

#914 feat(engine): CSM Squash Merge 로직 개선
  packages/analysis-engine/src/csm.spec.ts
  packages/analysis-engine/src/csm.ts
  packages/analysis-engine/src/stem.ts
  packages/analysis-engine/src/types/CommitNode.ts
Labels: 🔍 analysis engine, performance

#915 refactor(engine): CSM 코드 구조 및 가독성 개선
  packages/analysis-engine/src/csm.ts
  packages/analysis-engine/src/csm.util.ts
Labels: 🔍 analysis engine, refactor

#921 refactor(view): processMessage 함수 내 GIthubIssueLink 컴포넌트 분리
  packages/view/src/components/@common/GithubIssueLink/GithubIssueLink.scss
  packages/view/src/components/@common/GithubIssueLink/GithubIssueLink.tsx
  packages/view/src/components/@common/GithubIssueLink/GithubIssueLink.type.ts
  packages/view/src/components/@common/GithubIssueLink/index.ts
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
Labels: ✨ view, refactor

#929 feat: csm pagination api
  packages/analysis-engine/src/index.ts
  packages/vscode/src/extension.ts
  packages/vscode/src/webview-loader.ts
Labels: 🔍 analysis engine, 💻 vscode, performance

#943 refactor(view) : 스토리라인 차트 디자인 변경
  packages/view/src/components/FolderActivityFlow/ClusterVisualization.tsx
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.scss
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.tsx
  packages/view/src/components/FolderActivityFlow/ReleaseVisualization.tsx
Labels: newviz

#937 feat : csm pagination view
  packages/analysis-engine/src/csm.spec.ts
  packages/analysis-engine/src/csm.ts
  packages/analysis-engine/src/index.ts
  packages/analysis-engine/src/types/CSM.ts
  packages/view/src/App.tsx
  packages/view/src/components/@common/Author/Author.tsx
  packages/view/src/components/BranchSelector/BranchSelector.tsx
  packages/view/src/components/RefreshButton/RefreshButton.tsx
  packages/view/src/components/Statistics/FileIcicleSummary/FileIcicleSummary.tsx
  packages/view/src/components/TemporalFilter/TemporalFilter.util.ts
  packages/view/src/constants/constants.tsx
  packages/view/src/hooks/useAnalayzedData.ts
  packages/view/src/ide/FakeIDEAdapter.ts
  packages/view/src/ide/IDEPort.ts
  packages/view/src/ide/VSCodeIDEAdapter.ts
  packages/view/src/services/index.ts
  packages/view/src/store/data.ts
  packages/view/src/types/IDEMessage.ts
  packages/view/src/types/IDESentEvents.ts
  packages/view/src/types/Nodes.ts
  packages/view/src/utils/author.ts
  packages/view/webpack.prod.config.js
  packages/vscode/src/extension.ts
  packages/vscode/src/types/Node.ts
  packages/vscode/src/webview-loader.ts
Labels: ✨ view, 💻 vscode, performance

#938 refactor(view): processMessage 함수 공통화 및 리팩토링
  packages/view/src/components/@common/GithubIssueLink/GithubIssueLink.scss
  packages/view/src/components/@common/GithubIssueLink/GithubIssueLink.tsx
  packages/view/src/components/@common/GithubIssueLink/index.ts
  packages/view/src/components/@common/GithubIssueLink/renderIssueLinkedNodes.tsx
  packages/view/src/components/@common/GithubIssueLink/types.ts
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.type.ts
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/types/CommitMessageParts.ts
  packages/view/src/types/index.ts
  packages/view/src/utils/commitMessage.test.ts
  packages/view/src/utils/commitMessage.ts
Labels: ✨ view, fix, refactor

#946 refactor: cluster mode 제거 및 코드 포맷팅·린팅 수정
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.const.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.subfolder.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.test.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.tsx
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.type.ts
  packages/view/src/components/FolderActivityFlow/FolderActivityFlow.util.ts
  packages/view/src/components/FolderActivityFlow/NavigationStrategy.ts
  packages/view/src/components/FolderActivityFlow/ReleaseVisualization.tsx
  packages/view/src/components/FolderActivityFlow/index.ts
  packages/view/src/components/FolderActivityFlow/useFolderNavigation.ts
Labels: newviz, refactor

#950 refactor(view): 공통 컴포넌트 디렉터리명 변경 (@common -> Common)
  packages/view/src/components/Common/Author/Author.const.ts
  packages/view/src/components/Common/Author/Author.tsx
  packages/view/src/components/Common/Author/index.ts
  packages/view/src/components/Common/GithubIssueLink/GithubIssueLink.scss
  packages/view/src/components/Common/GithubIssueLink/GithubIssueLink.tsx
  packages/view/src/components/Common/GithubIssueLink/GithubIssueLink.type.ts
  packages/view/src/components/Common/GithubIssueLink/index.ts
  packages/view/src/components/Common/GithubIssueLink/renderIssueLinkedNodes.tsx
  packages/view/src/components/Common/GithubIssueLink/types.ts
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/Detail/Detail.type.ts
  packages/view/src/components/FilteredAuthors/FilteredAuthors.tsx
  packages/view/src/components/VerticalClusterList/Summary/Content/Content.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.tsx
Labels: ✨ view, refactor
