Repository githru/githru-vscode-ext, pull requests merged in 2025-08, with the labels that each got.

#810 [vscode] 테스트 프레임워크 Mocha 제거 it.each 리뷰 반영
  package-lock.json
  packages/vscode/package.json
  packages/vscode/src/test/suite/extension.ts
  packages/vscode/src/test/suite/index.ts
  packages/vscode/src/test/utils/getRepo.spec.ts
Labels: 💻 vscode

#802 [view] refactor(theme): window.theme 제거 및 zustand + persist 기반 상태관리 적용
  packages/view/public/index.html
  packages/view/src/App.tsx
  packages/view/src/components/ThemeSelector/ThemeSelector.tsx
  packages/view/src/store/index.ts
  packages/view/src/store/theme.ts
Labels: ✨ view

#815 [view] Summary 내 Detail 컴포넌트 내부 콘텐츠 스타일 개선 작업
  packages/view/src/components/Detail/Detail.scss
  packages/view/src/components/Detail/Detail.tsx
  packages/view/src/components/VerticalClusterList/Summary/Summary.scss
Labels: ✨ view, fix

#819 fix: FilteredAuthors의 3중 map 구조 개선
  packages/view/src/components/FilteredAuthors/FilteredAuthors.tsx
Labels: fix

#843 fix(vscode): repo 변수에서 잘못된 배열 접근 제거
  packages/vscode/src/extension.ts
Labels: bug

#854 [vibe] 로컬 mcp 서버 연동 with claude
  packages/githru-mcp/.gitignore
  packages/githru-mcp/README.md
  packages/githru-mcp/claude_desktop_config.json
  packages/githru-mcp/package.json
  packages/githru-mcp/src/server.ts
  packages/githru-mcp/tsconfig.json
Labels: new feature, vibe

#827 [view] tag와 releaseTag에 대한 테스트 코드 추가
  packages/view/src/components/Detail/Detail.util.test.ts
  packages/view/src/components/Detail/Detail.util.ts
  packages/view/src/components/VerticalClusterList/Summary/Summary.util.test.ts
Labels: ✨ view, test
